<launch>
  <arg name="model" default="waffle_pi" />
  <arg name="map_file" />
  <arg name="mission_file" default="$(find autonomic_turtlebot3)/missions/factory_template.yaml" />
  <arg name="mqtt_enabled" default="true" />
  <arg name="open_rviz" default="true" />
  <env name="TURTLEBOT3_MODEL" value="$(arg model)" />

  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)" />
  <include file="$(find turtlebot3_navigation)/launch/amcl.launch" />
  <include file="$(find autonomic_turtlebot3)/launch/move_base.launch" />
  <include file="$(find autonomic_turtlebot3)/launch/core.launch">
    <arg name="mission_file" value="$(arg mission_file)" />
    <arg name="mqtt_enabled" value="$(arg mqtt_enabled)" />
  </include>
  <node if="$(arg open_rviz)" pkg="rviz" type="rviz" name="rviz" required="true"
        args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz" />
</launch>
